@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 90vh;
}

.header .video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -10;
  visibility: visible;
}

.header .nav {
  padding: 1em;
}

.header .nav__img {
  padding-right: .5em;
}

@media screen and (min-width: 320px) {
  .header .nav__img {
    width: 2.5em;
    height: 2em;
  }
}

@media screen and (min-width: 768px) {
  .header .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

@media screen and (min-width: 994px) {
  .header .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

.header .nav__textLogo {
  font-family: "Caveat", cursive;
  font-size: 600;
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.header .nav__textLogo:hover {
  color: #FEC5BB;
}

.header .nav__ul {
  list-style: none;
  margin: 1em;
}

.header .nav__li {
  padding: .3em;
  margin: .5em;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.header .nav__li::before, .header .nav__li::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header .nav__li::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.header .nav__li::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.header .nav__li:hover::before, .header .nav__li:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.header .nav__li:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.header .nav__li:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.header .nav__li > a {
  text-decoration: none;
  color: #EDF6F9;
}

.header .nav__li > a:hover {
  color: #FEC5BB;
}

.header .nav__li .subUl {
  list-style: none;
  position: absolute;
  color: #EDF6F9;
  display: none;
}

.header .nav__li:hover > .subUl {
  display: block;
  padding: .5em;
  top: 35px;
  left: 0;
}

.header .nav__li .subLi > a {
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.header .nav__li .subLi > a:hover {
  color: #FEC5BB;
}

.carousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr 50px;
      grid-template-columns: 50px 1fr 50px;
  -ms-grid-rows: 20em;
      grid-template-rows: 20em;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 197, 187, 0.2)), to(rgba(254, 197, 187, 0.2)));
  background: linear-gradient(rgba(254, 197, 187, 0.2), rgba(254, 197, 187, 0.2));
}

.carousel__item {
  padding: 3em 0;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80em;
}

.carousel__title {
  font-weight: 700;
  color: #EDF6F9;
  padding-bottom: 1em;
}

.carousel__text {
  font-weight: 400;
  color: #EDF6F9;
  padding: 0 5em;
}

@media screen and (min-width: 320px) {
  .carousel__text {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .carousel__text {
    padding: 0;
  }
}

.fas {
  color: #FEC5BB;
  font-size: 3em;
  cursor: pointer;
}

.offers {
  background-image: url(../imagenes/offers2.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 5em 0;
  -webkit-box-shadow: -1px 14px 58px -17px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 14px 58px -17px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 14px 58px -17px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 14px 58px -17px rgba(0, 0, 0, 0.75);
}

.offers__intro {
  padding: 1em;
}

.offers .exp {
  color: #484A47;
}

@media screen and (min-width: 320px) {
  .offers .exp {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 27, 7, 0.2)), to(rgba(254, 197, 187, 0.7)));
    background: linear-gradient(rgba(141, 27, 7, 0.2), rgba(254, 197, 187, 0.7));
  }
}

@media screen and (min-width: 768px) {
  .offers .exp {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(141, 27, 7, 0.2)), to(rgba(254, 197, 187, 0.7)));
    background: linear-gradient(rgba(141, 27, 7, 0.2), rgba(254, 197, 187, 0.7));
  }
}

@media screen and (min-width: 994px) {
  .offers .exp {
    background: transparent;
  }
}

.offers .exp__title {
  font-weight: 400;
  padding: 1em .5em;
}

.offers .exp__subtitle {
  font-weight: 300;
  padding: 0 .5em 1em .5em;
}

.offers .exp__text {
  padding: 0 .5em 1em .5em;
}

.details {
  margin: 5em 0;
}

.details__services {
  margin: 1em 0;
  padding: 1.5em;
  background: #83C5BE;
  color: #EDF6F9;
  font-weight: 400;
}

.details__web {
  padding: 2em;
}

.details__img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1em;
  border: 1px solid #E29578;
}

.details__subtitle {
  font-weight: 400;
  padding: 1.5em 0 .5em 0;
  -webkit-text-decoration: underline #E29578;
          text-decoration: underline #E29578;
  text-underline-position: under;
}

.details__p {
  line-height: 1.8em;
}

.details__button .btn {
  background: #FEC5BB;
  padding: .5em .8em;
  border-radius: 3em;
  text-decoration: none;
  color: #484A47;
  cursor: pointer;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.details__button .btn::before, .details__button .btn::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.details__button .btn::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.details__button .btn::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.details__button .btn:hover::before, .details__button .btn:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.details__button .btn:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.details__button .btn:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.details__button .btn:hover {
  background: #fff;
  color: #E29578;
}

.myWedding {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.7))), url(../imagenes/fondoAcuarelaAzul.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url(../imagenes/fondoAcuarelaAzul.jpg);
  background-size: cover;
}

.wedding {
  margin: 5em 0;
}

.wedding__title {
  margin: 1em 0;
  padding: 1.5em 0;
  background: #83C5BE;
  color: #EDF6F9;
  font-weight: 400;
}

.wedding__img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1em;
  margin: .5em;
  border: 3px solid #006D77;
}

.wedding__button {
  margin-top: 2em;
}

.wedding__button .btn {
  background: #FEC5BB;
  padding: .5em 1em;
  border-radius: 3em;
  text-decoration: none;
  color: #484A47;
  cursor: pointer;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.wedding__button .btn::before, .wedding__button .btn::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.wedding__button .btn::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.wedding__button .btn::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.wedding__button .btn:hover::before, .wedding__button .btn:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.wedding__button .btn:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.wedding__button .btn:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.wedding__button .btn:hover {
  background: #fff;
  color: #E29578;
}

.headerLogin {
  width: 100%;
  height: auto;
  background: #006D77;
  z-index: 1;
}

.headerLogin .nav {
  padding: 1em;
}

.headerLogin .nav__img {
  padding-right: .5em;
}

@media screen and (min-width: 320px) {
  .headerLogin .nav__img {
    width: 2.5em;
    height: 2em;
  }
}

@media screen and (min-width: 768px) {
  .headerLogin .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

@media screen and (min-width: 994px) {
  .headerLogin .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

.headerLogin .nav__textLogo {
  font-family: "Caveat", cursive;
  font-size: 600;
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.headerLogin .nav__textLogo:hover {
  color: #FEC5BB;
}

.headerLogin .nav__ul {
  list-style: none;
  margin: 1em;
}

.headerLogin .nav__li {
  padding: .3em;
  margin: .5em;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.headerLogin .nav__li::before, .headerLogin .nav__li::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.headerLogin .nav__li::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.headerLogin .nav__li::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.headerLogin .nav__li:hover::before, .headerLogin .nav__li:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.headerLogin .nav__li:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.headerLogin .nav__li:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.headerLogin .nav__li > a {
  text-decoration: none;
  color: #EDF6F9;
}

.headerLogin .nav__li > a:hover {
  color: #FEC5BB;
}

.headerLogin .nav__li .subUl {
  list-style: none;
  position: absolute;
  color: #EDF6F9;
  display: none;
}

.headerLogin .nav__li:hover > .subUl {
  display: block;
  padding: .5em;
  top: 35px;
  left: -20px;
  z-index: 10;
}

.headerLogin .nav__li .subLi {
  background: #006D77;
  padding: 1em;
  width: 10em;
  z-index: 1000;
}

.headerLogin .nav__li .subLi > a {
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.headerLogin .nav__li .subLi > a:hover {
  color: #FEC5BB;
}

.loginSingUp {
  margin: 5em 0;
}

.loginSingUp .login, .loginSingUp .singUp {
  background: #006D77;
  color: #EDF6F9;
  -webkit-box-shadow: -1px 9px 86px -34px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 9px 86px -34px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 86px -34px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 86px -34px rgba(0, 0, 0, 0.75);
}

.loginSingUp .login__title, .loginSingUp .singUp__title {
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  padding: .5em 0;
  font-weight: 400;
}

.loginSingUp .login__subtitle, .loginSingUp .singUp__subtitle {
  font-size: 1em;
  font-weight: 400;
  padding: 0 1em 3em 1em;
}

.loginSingUp .login__text, .loginSingUp .singUp__text {
  font-weight: 300;
  font-size: .9em;
  padding: 0 .5em 1em .5em;
  line-height: 1.8em;
}

.loginSingUp .login__button, .loginSingUp .singUp__button {
  margin: 2em 0;
}

.loginSingUp .login__button .btn, .loginSingUp .singUp__button .btn {
  background: #FEC5BB;
  padding: .5em 1em;
  border-radius: 3em;
  text-decoration: none;
  color: #484A47;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.loginSingUp .login__button .btn::before, .loginSingUp .login__button .btn::after, .loginSingUp .singUp__button .btn::before, .loginSingUp .singUp__button .btn::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.loginSingUp .login__button .btn::before, .loginSingUp .singUp__button .btn::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.loginSingUp .login__button .btn::after, .loginSingUp .singUp__button .btn::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.loginSingUp .login__button .btn:hover::before, .loginSingUp .login__button .btn:hover::after, .loginSingUp .singUp__button .btn:hover::before, .loginSingUp .singUp__button .btn:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.loginSingUp .login__button .btn:hover::before, .loginSingUp .singUp__button .btn:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.loginSingUp .login__button .btn:hover::after, .loginSingUp .singUp__button .btn:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.loginSingUp .login__button .btn:hover, .loginSingUp .singUp__button .btn:hover {
  background: #006D77;
  color: #EDF6F9;
}

.loginSingUp .singUp {
  background: #FEC5BB;
  color: #484A47;
}

.loginSingUp .singUp__subtitle {
  padding-bottom: 2em;
}

.loginSingUp .singUp__button .btn {
  background: #006D77;
  color: #EDF6F9;
}

.loginSingUp .singUp__button .btn:hover {
  background: #006D77;
  color: #EDF6F9;
}

.headerSignUp {
  width: 100%;
  height: auto;
  background: #006D77;
  z-index: 1;
}

.headerSignUp .nav {
  padding: 1em;
}

.headerSignUp .nav__img {
  padding-right: .5em;
}

@media screen and (min-width: 320px) {
  .headerSignUp .nav__img {
    width: 2.5em;
    height: 2em;
  }
}

@media screen and (min-width: 768px) {
  .headerSignUp .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

@media screen and (min-width: 994px) {
  .headerSignUp .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

.headerSignUp .nav__textLogo {
  font-family: "Caveat", cursive;
  font-size: 600;
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.headerSignUp .nav__textLogo:hover {
  color: #FEC5BB;
}

.headerSignUp .nav__ul {
  list-style: none;
  margin: 1em;
}

.headerSignUp .nav__li {
  padding: .3em;
  margin: .5em;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.headerSignUp .nav__li::before, .headerSignUp .nav__li::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.headerSignUp .nav__li::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.headerSignUp .nav__li::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.headerSignUp .nav__li:hover::before, .headerSignUp .nav__li:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.headerSignUp .nav__li:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.headerSignUp .nav__li:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.headerSignUp .nav__li > a {
  text-decoration: none;
  color: #EDF6F9;
}

.headerSignUp .nav__li > a:hover {
  color: #FEC5BB;
}

.headerSignUp .nav__li .subUl {
  list-style: none;
  position: absolute;
  color: #EDF6F9;
  display: none;
}

.headerSignUp .nav__li:hover > .subUl {
  display: block;
  padding: .5em;
  top: 35px;
  left: -20px;
  z-index: 10;
}

.headerSignUp .nav__li .subLi {
  background: #006D77;
  padding: 1em;
  width: 10em;
  z-index: 1000;
}

.headerSignUp .nav__li .subLi > a {
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.headerSignUp .nav__li .subLi > a:hover {
  color: #FEC5BB;
}

.signupMain {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url(../imagenes/regAcc.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../imagenes/regAcc.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
}

.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}

.signup-form .form {
  color: #484A47;
  border-radius: 3px;
  margin-bottom: 15px;
  background: #fff;
  -webkit-box-shadow: -1px 9px 40px -10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 9px 40px -10px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 9px 40px -10px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 9px 40px -10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.signup-form .h2 {
  color: #484A47;
  font-weight: bold;
  margin-top: 0;
}

.signup-form .hr {
  margin: 0 -30px 20px;
}

.signup-form .imgLogin {
  text-decoration: none !important;
  margin: .5em;
  width: 100%;
  height: auto;
  border: 2px solid #EDF6F9;
  border-radius: .3em;
}

.signup-form .imgLogin > span {
  padding-left: 1em;
  color: #fff;
  font-weight: 400;
}

.signup-form .imgLogin .img {
  width: 3.5em;
  height: auto;
  cursor: pointer;
  padding: .5em;
}

.signup-form .imgLogin--F {
  background: #00A3F7;
}

.signup-form .imgLogin--G {
  background: #E72837;
}

.hr__o {
  width: 10em;
  margin: 0 .5em;
}

.form-control {
  font-size: 15px;
}

.form-control,
.form-control:focus,
.input-group-text {
  border-color: #e1e1e1;
  z-index: 1;
}

.form-control,
.btn {
  border-radius: 3px;
}

.signup-form .form-group {
  margin-bottom: 1em;
  margin-top: 1em;
}

.signup-form label {
  font-weight: normal;
  font-size: 15px;
}

.signup-form .form-control {
  min-height: 38px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
}

.signup-form .btn,
.signup-form .btn:active {
  font-size: 16px;
  font-weight: bold;
  background: #83C5BE;
  border: none;
  min-width: 140px;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
  background: #006D77;
}

.signup-form a {
  color: #fff;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a {
  color: #006D77;
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.signup-form .fa {
  font-size: 30px;
}

.signup-form .fa-paper-plane {
  font-size: 28px;
}

.signup-form .fa-check {
  color: #fff;
  left: 17px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

.contact {
  padding: 1em;
}

@media screen and (min-width: 320px) {
  .contact {
    background: #d8e2dc;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    background: #d8e2dc;
  }
}

@media screen and (min-width: 994px) {
  .contact {
    background-image: url(../imagenes/fondoContacto.png);
    background-size: cover;
    background-position: left;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.form {
  padding: 1em;
}

.form__img {
  padding-right: .5em;
}

@media screen and (min-width: 320px) {
  .form__img {
    width: 2.5em;
    height: 2em;
  }
}

@media screen and (min-width: 768px) {
  .form__img {
    width: 3.5em;
    height: 3em;
  }
}

@media screen and (min-width: 994px) {
  .form__img {
    width: 3.5em;
    height: 3em;
  }
}

.form__logo {
  font-family: "Caveat", cursive;
  font-size: 600;
  text-decoration: none;
  color: #484A47;
}

.form > input, .form textarea {
  border: none;
  outline: none;
  border-radius: .20em;
  padding: .5em;
  margin-top: .5em;
  width: 100%;
  resize: none;
}

.form > input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #FEC5BB;
}

.form > input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #FEC5BB;
}

.form > input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  color: #FEC5BB;
}

.form > input::placeholder, .form textarea::placeholder {
  color: #FEC5BB;
}

.form > input:focus, .form textarea:focus {
  outline: solid 2px #FEC5BB;
}

.form__button {
  margin: 2em;
  background: #FEC5BB;
  border-radius: 3em;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.form__button::before, .form__button::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.form__button::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.form__button::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.form__button:hover::before, .form__button:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.form__button:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.form__button:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.form__button:hover {
  background: transparent;
}

.form__button .btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: .5em 3em;
  color: #484A47;
  cursor: pointer;
}

.footer {
  background: #e8e8e4;
  padding: 2em;
  margin-top: 5em;
  -webkit-box-shadow: -1px -1px 24px -5px rgba(0, 0, 0, 0.55);
          box-shadow: -1px -1px 24px -5px rgba(0, 0, 0, 0.55);
  box-shadow: -1px -1px 24px -5px rgba(0, 0, 0, 0.55);
  box-shadow: -1px -1px 24px -5px rgba(0, 0, 0, 0.55);
}

.info {
  margin-bottom: 3em;
}

.info__text {
  text-decoration: none;
  color: #484A47;
}

.info__text:hover {
  color: #006D77;
}

.info__link {
  font-size: .8em;
}

.networks, .payments {
  margin-bottom: 3em;
}

.networks__img, .payments__img {
  width: 2em;
}

.networks {
  cursor: pointer;
}

.footerText {
  margin-top: 2em;
}

.footerText__img {
  padding-right: .5em;
}

@media screen and (min-width: 320px) {
  .footerText__img {
    width: 2.5em;
    height: 2em;
  }
}

@media screen and (min-width: 768px) {
  .footerText__img {
    width: 3.5em;
    height: 3em;
  }
}

@media screen and (min-width: 994px) {
  .footerText__img {
    width: 3.5em;
    height: 3em;
  }
}

.footerText__img {
  margin-bottom: 1em;
}

.headerWelcome {
  width: 100%;
  height: auto;
  background: #006D77;
  z-index: 1;
}

.headerWelcome .nav {
  padding: 1em;
}

.headerWelcome .nav__img {
  padding-right: .5em;
}

@media screen and (min-width: 320px) {
  .headerWelcome .nav__img {
    width: 2.5em;
    height: 2em;
  }
}

@media screen and (min-width: 768px) {
  .headerWelcome .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

@media screen and (min-width: 994px) {
  .headerWelcome .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

.headerWelcome .nav__textLogo {
  font-family: "Caveat", cursive;
  font-size: 600;
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.headerWelcome .nav__textLogo:hover {
  color: #FEC5BB;
}

.headerWelcome .nav__ul {
  list-style: none;
  margin: 1em;
}

.headerWelcome .nav__li {
  padding: .3em;
  margin: .5em;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.headerWelcome .nav__li::before, .headerWelcome .nav__li::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.headerWelcome .nav__li::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.headerWelcome .nav__li::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.headerWelcome .nav__li:hover::before, .headerWelcome .nav__li:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.headerWelcome .nav__li:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.headerWelcome .nav__li:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.headerWelcome .nav__li > a {
  text-decoration: none;
  color: #EDF6F9;
}

.headerWelcome .nav__li > a:hover {
  color: #FEC5BB;
}

.headerWelcome .nav__li .subUl {
  list-style: none;
  position: absolute;
  color: #EDF6F9;
  display: none;
}

.headerWelcome .nav__li:hover > .subUl {
  display: block;
  padding: .5em;
  top: 35px;
  left: -20px;
  z-index: 10;
}

.headerWelcome .nav__li .subLi {
  background: #006D77;
  padding: 1em;
  width: 10em;
  z-index: 1000;
}

.headerWelcome .nav__li .subLi > a {
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.headerWelcome .nav__li .subLi > a:hover {
  color: #FEC5BB;
}

.welcomeMain {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/fondoAcuarela.jpg);
  background-size: cover;
}

.welcomeMain .title {
  padding: .5em;
  padding-bottom: 0;
  font-weight: 600;
  font-family: "Caveat", cursive;
  font-size: 10em;
}

.welcomeMain .novios {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.welcomeMain .text {
  padding-bottom: 3em;
}

.welcome__img {
  width: 25em;
  height: 12em;
  -o-object-fit: cover;
     object-fit: cover;
  padding: .5em;
  border: 1px solid #FEC5BB;
  position: relative;
}

.welcome__link {
  margin: 2em 0 5em 1em;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  background: #FEC5BB;
  padding: 1em 2em;
  border-radius: 3em;
  text-decoration: none;
  color: #484A47;
  cursor: pointer;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.welcome__link::before, .welcome__link::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.welcome__link::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.welcome__link::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.welcome__link:hover::before, .welcome__link:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.welcome__link:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.welcome__link:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.welcome__link:hover {
  background: transparent;
  color: #E29578;
}

.headerSchedule {
  width: 100%;
  height: auto;
  background: #006D77;
  z-index: 1;
}

.headerSchedule .nav {
  padding: 1em;
}

.headerSchedule .nav__img {
  padding-right: .5em;
}

@media screen and (min-width: 320px) {
  .headerSchedule .nav__img {
    width: 2.5em;
    height: 2em;
  }
}

@media screen and (min-width: 768px) {
  .headerSchedule .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

@media screen and (min-width: 994px) {
  .headerSchedule .nav__img {
    width: 3.5em;
    height: 3em;
  }
}

.headerSchedule .nav__textLogo {
  font-family: "Caveat", cursive;
  font-size: 600;
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.headerSchedule .nav__textLogo:hover {
  color: #FEC5BB;
}

.headerSchedule .nav__ul {
  list-style: none;
  margin: 1em;
}

.headerSchedule .nav__li {
  padding: .3em;
  margin: .5em;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.headerSchedule .nav__li::before, .headerSchedule .nav__li::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.headerSchedule .nav__li::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.headerSchedule .nav__li::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.headerSchedule .nav__li:hover::before, .headerSchedule .nav__li:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.headerSchedule .nav__li:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.headerSchedule .nav__li:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.headerSchedule .nav__li > a {
  text-decoration: none;
  color: #EDF6F9;
}

.headerSchedule .nav__li > a:hover {
  color: #FEC5BB;
}

.headerSchedule .nav__li .subUl {
  list-style: none;
  position: absolute;
  color: #EDF6F9;
  display: none;
}

.headerSchedule .nav__li:hover > .subUl {
  display: block;
  padding: .5em;
  top: 35px;
  left: -20px;
  z-index: 10;
}

.headerSchedule .nav__li .subLi {
  background: #006D77;
  padding: 1em;
  width: 10em;
  z-index: 1000;
}

.headerSchedule .nav__li .subLi > a {
  text-decoration: none;
  color: #EDF6F9;
  cursor: pointer;
}

.headerSchedule .nav__li .subLi > a:hover {
  color: #FEC5BB;
}

.scheduleBar {
  background: #fff;
  -webkit-box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.5);
  padding: 1em;
  margin-bottom: 2em;
}

.bar {
  text-align: center;
}

.bar__link {
  text-decoration: none;
  color: #484A47;
}

.bar__link:hover {
  color: #006D77;
}

.bar__img {
  padding: 1em;
  cursor: pointer;
}

.guests {
  margin: 3em 0;
  position: relative;
}

.guests .guestsHr {
  color: #006D77;
  height: 5px;
}

.guestsIntro__img img {
  width: 10em;
  margin: 2em 0;
}

.guestsIntro__total h3 {
  font-size: 1.2em;
}

.guestsIntro__total p {
  font-weight: 600;
  font-size: 1.2em;
  background: #FEC5BB;
  color: #484A47;
  padding: .5em 0;
  border-radius: .25em;
}

.guestsAdd {
  margin: 3em 0;
}

.guestsAdd__btn {
  margin: 0 2em;
  background: #006D77;
  padding: .5em 1em;
  border-radius: 3em;
  text-decoration: none;
  color: #EDF6F9;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.guestsAdd__btn::before, .guestsAdd__btn::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.guestsAdd__btn::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.guestsAdd__btn::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.guestsAdd__btn:hover::before, .guestsAdd__btn:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.guestsAdd__btn:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.guestsAdd__btn:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.guestsAdd__btn:hover {
  background: #fff;
  color: #E29578;
}

.guestsAdd hr {
  margin-top: 3em;
}

.guestsAdd__menu {
  margin-left: .5em;
}

.guestsAdd__form input {
  margin: .3em;
}

.confirmed h4 {
  background: #83C5BE;
  padding: 1.5em 0;
}

.confirmed h4 img {
  width: 1.5em;
  margin-right: .5em;
}

.slopes h4 {
  background: #FFD7BA;
  padding: 1.5em 0;
}

.slopes h4 img {
  width: 1.5em;
  margin-right: .5em;
}

.canceled h4 {
  background: #FD765E;
  padding: 1.5em 0;
}

.canceled h4 img {
  width: 1.8em;
  margin-right: .5em;
}

.personsGuests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personsGuests .persons {
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personsGuests .persons__ok {
  color: chartreuse;
}

.modalGuests {
  position: absolute;
  padding: 2em;
  width: 45vw;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #484A47;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../imagenes/fondoAcuarelaAzul.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../imagenes/fondoAcuarelaAzul.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.25s 0.083;
  transition: all 0.25s 0.083;
}

.modalGuests__title {
  padding: 1em;
  background: #83C5BE;
}

.modalGuests input {
  width: 15em;
  margin: 1em 1em 1em 0;
  border: none;
  border-bottom: solid 2px #FEC5BB;
  outline: none;
}

.modalGuests input::-webkit-input-placeholder {
  color: #E29578;
  padding: 1em;
}

.modalGuests input:-ms-input-placeholder {
  color: #E29578;
  padding: 1em;
}

.modalGuests input::-ms-input-placeholder {
  color: #E29578;
  padding: 1em;
}

.modalGuests input::placeholder {
  color: #E29578;
  padding: 1em;
}

.modalGuests input:focus {
  border-radius: .20em;
  border: none;
  outline: solid 2px #FEC5BB;
}

.modalGuests .modalGuestsSections label {
  width: 3em;
  font-weight: 600;
}

.modalGuests .modalGuestsSections__select {
  margin: 1em 0 0 1em;
  width: 11em;
  color: #E29578;
  padding: 0 1em;
  border: solid 1px #FEC5BB;
}

.modalGuests .pais {
  width: 15em;
  margin-right: 1em;
  color: #E29578;
  border: solid 1px #FEC5BB;
}

.modalGuests .modalGuestsBtn {
  width: 7em;
  background: #006D77;
  padding: .5em 1em;
  border-radius: 3em;
  text-decoration: none;
  color: #EDF6F9;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.modalGuests .modalGuestsBtn::before, .modalGuests .modalGuestsBtn::after {
  border: 0 solid transparent;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.modalGuests .modalGuestsBtn::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-radius: 3em;
}

.modalGuests .modalGuestsBtn::after {
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 3em;
}

.modalGuests .modalGuestsBtn:hover::before, .modalGuests .modalGuestsBtn:hover::after {
  border-color: #FEC5BB;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.modalGuests .modalGuestsBtn:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.modalGuests .modalGuestsBtn:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.modalGuests .modalGuestsBtn:hover {
  background: #fff;
  color: #E29578;
}

.miWebMain {
  font-size: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* -------------
OPCTIONS TITLE
----------------*/
.titleOptions {
  border-bottom: #FEC5BB double;
  border-right: #FEC5BB double;
  border-top: #FEC5BB double;
  border-width: .5em;
  height: 15em;
  background: #fff;
  padding: 1em;
}

.titleOptions__title {
  font-family: "Caveat", cursive;
  font-weight: 600;
  font-size: 3em;
  color: #484A47;
}

.titleOptions__link {
  color: #E29578;
  font-size: 1.2em;
}

.titleOptions img {
  width: 2em;
  background-color: #FEC5BB;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

a:hover {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.app {
  height: 100vh;
}

/* -------------
Sidebar
----------------*/
.sidebar {
  position: absolute;
  width: 22em;
  height: 100%;
  top: 10;
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  overflow-y: scroll;
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
  position: fixed;
  background-color: #fff;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: hidden;
  padding-bottom: 6em;
  z-index: 9;
  -webkit-overflow-scrolling: touch;
  /* -------------
Chev elements
----------------*/
  /* -------------
Nav-Flyout
----------------*/
  /* -------------
Hover
----------------*/
  /* -------------
plantilla imágenes
----------------*/
  /* -------------
configuracion
----------------*/
}

.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
  /* -------------
Sidebar: icons
----------------*/
}

.sidebar-nav ul li a {
  color: #484A47;
  font-size: 0.75em;
  padding: 1.05em 1em;
  position: relative;
  display: block;
}

.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.sidebar-nav ul li img {
  width: 3em;
  padding-right: 1em;
  display: inline;
  vertical-align: middle;
}

.sidebar-nav > ul > li > a:after {
  content: '\f125';
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}

.sidebar-nav .nav-flyout {
  position: absolute;
  background-color: #333;
  z-index: 9;
  width: 80em;
  left: 5em;
  top: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 1em;
}

.sidebar-nav .nav-flyout a {
  color: #EDF6F9;
}

.sidebar-nav .nav-flyout a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-nav ul > li:focus-within:focus-within {
  background: #006D77;
}

.sidebar-nav ul > li:focus-within .nav-flyout {
  -webkit-transform: translateX(-2.2%);
          transform: translateX(-2.2%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav .templesImg {
  overflow-y: scroll;
}

.sidebar-nav .templesImg ul {
  background: #fff;
}

.sidebar-nav .templesImg ul a {
  position: relative;
  display: inline;
}

.sidebar-nav .templesImg ul a:hover {
  background: #fff;
}

.sidebar-nav .templesImg ul a span {
  color: #484A47;
  position: absolute;
  top: -10;
  right: -10;
}

.sidebar-nav .templesImg ul a span:hover {
  color: #484A47;
}

.sidebar-nav .templesImg ul a img {
  margin: .5em;
  padding: 1em;
  border: solid #FEC5BB 1px;
  width: 100px;
}

.sidebar-nav .formConf {
  background: #fff;
}

.sidebar-nav .formConf h4 {
  padding-top: .5em;
  margin-left: .5em;
}

.sidebar-nav .formConf a:hover {
  background: #fff;
}

.sidebar-nav .formConf label {
  color: #484A47;
  display: block;
  padding: .5em;
}

.sidebar-nav .formConf input {
  border: none;
  border-bottom: solid #E29578 1px;
  border-radius: .20em;
  outline: none;
  color: #484A47;
  padding: .3em;
  width: 20%;
}

.sidebar-nav .formConf input::-webkit-input-placeholder {
  color: #FEC5BB;
}

.sidebar-nav .formConf input:-ms-input-placeholder {
  color: #FEC5BB;
}

.sidebar-nav .formConf input::-ms-input-placeholder {
  color: #FEC5BB;
}

.sidebar-nav .formConf input::placeholder {
  color: #FEC5BB;
}

.sidebar-nav .formConf input:focus {
  outline: solid 2px #FEC5BB;
  border-bottom: none;
}
/*# sourceMappingURL=style.css.map */