@import "../_partials/mixies";

.headerLogin {
    @include nav;
}


//index
//acceder - login
.loginSingUp {
    margin: 5em 0;
    .login,
    .singUp {
        background: $darkGreen;
        color: $white;
        box-shadow: -1px 9px 86px -34px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 9px 86px -34px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 9px 86px -34px rgba(0, 0, 0, 0.75);

        &__title {
            font-family: $fontLogo;
            font-size: 2.5em;
            padding: .5em 0;
            font-weight: 400;
        }

        &__subtitle {
            font-size: 1em;
            font-weight: 400;
            padding: 0 1em 3em 1em;
        }

        &__text {
            font-weight: 300;
            font-size: .9em;
            padding: 0 .5em 1em .5em;
            line-height: 1.8em;
        }

        &__button {
            margin: 2em 0;

            .btn {
                background: $salmon;
                padding: .5em 1em;
                border-radius: 3em;
                text-decoration: none;
                color: $grey;
                font-weight: 600;
                cursor: pointer;
                transition: color 0.25s 0.0833333333s;
                transition: color 0.25s 0.0833333333s;
                position: relative;
                @include btn;

                &:hover {
                    background: $darkGreen;
                    color: $white;
                }

            }
        }
    }

    //index
    //registrarse -singUp
    .singUp {
        background: $salmon;
        color: $grey;

        &__subtitle {
            padding-bottom: 2em;
        }

        &__button {
            .btn {
                background: $darkGreen;
                color: $white;

                &:hover {
                    background: $darkGreen;
                    color: $white;
                }

            }
        }
    }
}

//pagina a parte
//Acceder - login
//registrarse -sign Up

.headerSignUp {
    @include nav;
    overflow: hidden;
}

.signupMain {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../imagenes/regAcc.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;

    @include breakpoint(mobile) {
        width: 300px;
    }

    @include breakpoint(laptop) {
        width: 400px;
    }

    @include breakpoint(desktop) {
        width: 400px;
    }

    .formLogin,
    .formSingUP {
        color: $grey;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: -1px 9px 40px -10px rgba(0, 0, 0, 0.2);
        box-shadow: -1px 9px 40px -10px rgba(0, 0, 0, 0.2);
        box-shadow: -1px 9px 40px -10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        color: $grey;
    }

    .h2 {
        color: $grey;
        font-weight: bold;
        margin-top: 0;
    }

    .hr {
        margin: 0 -30px 20px;
    }

    //img face y google - login

    .imgLogin {
        text-decoration: none !important;
        margin: .5em;
        width: 100%;
        height: auto;
        border: 2px solid $white;
        border-radius: .3em;

        >span {
            padding-left: 1em;
            color: #fff;
            font-weight: 400;

            @include breakpoint(mobile) {
                font-size: .8em;
            }

            @include breakpoint(laptop) {
                font-size: 1em;
            }

            @include breakpoint(desktop) {
                font-size: 1em;
            }
        }

        .img {
            width: 3.5em;
            height: auto;
            cursor: pointer;
            padding: .5em;

            @include breakpoint(mobile) {
                width: 2.5;
            }

            @include breakpoint(laptop) {
                width: 3.5;
            }

            @include breakpoint(desktop) {
                width: 3.5;
            }
        }
    }

    .imgLogin--F {
        background: #00A3F7;
    }

    .imgLogin--G {
        background: #E72837;
    }
}

.show,
.show2 {
    color: $red;
}

// hr entre los logos de face y google
.hr {
    &__o {
        width: 10em;
        margin: 0 .5em;
    }
}

.form-control {
    font-size: 15px;
}

.form-control,
.form-control:focus,
.input-group-text {
    border-color: #e1e1e1;
    z-index: 1;
}

.form-control,
.btn {
    border-radius: 3px;
}

.signup-form .form-group {
    margin-bottom: 1em;
    margin-top: 1em;
}

.signup-form label {
    font-weight: normal;
    font-size: 15px;
}

.signup-form .form-control {
    min-height: 38px;
    box-shadow: none;
}

.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}

.signup-form .btn,
.signup-form .btn:active {
    font-size: 16px;
    font-weight: bold;
    background: $green;
    border: none;
    min-width: 140px;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
    background: $darkGreen;
}

.signup-form a {
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: $darkGreen;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

//iconos del singUp

.signup-form .fa {
    font-size: 30px;
}

.signup-form .fa-paper-plane {
    font-size: 28px;
}

.signup-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}


//////////////////////MODAL INICIO DE USUARIO///////////////////

.modalLogin {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    border: 1px solid $grey;
    background: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all ease .5s;
    z-index: 1000;

    .modalLoginForm {

        overflow-y: scroll;
        overflow-x: hidden;
        border-radius: .25em;
        padding: 1.5em;
        background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)),
            url(../imagenes/fondoAcuarelaAzul.jpg);
        background-position: center;
        background-size: cover;
        transition: transform 1s;


        @include breakpoint(mobile) {
            width: 90%;
            height: 60vh;
            padding: 1em;

        }

        @include breakpoint(laptop) {
            width: 90%;
            height: 80vh;
            padding: 1em;
        }

        @include breakpoint(desktop) {
            width: 48vw;
            height: 80vh;
            padding: 2em;
        }

        // cerrar modal
        .modalClose {
            transform: translateY(-200%);
        }

        .modalOpen {
            transform: translateY(0%);
        }

        .imgClose {
            margin-left: 95%;
            margin-top: 0;
            padding-bottom: .5em;
            cursor: pointer;
        }


        input {
            margin: 1em 1em 1em 0;
            border: none;
            border-bottom: solid 2px $salmon;
            outline: none;

            @include breakpoint(mobile) {
                width: 90%;
            }

            @include breakpoint(laptop) {
                width: 90%;
            }

            @include breakpoint(desktop) {
                width: 15em;
            }

            &::placeholder {
                color: $darkSalmon;
                padding: 1em;
            }

            &:focus {
                border-radius: .20em;
                border: none;
                outline: solid 2px $salmon;
            }
        }


        &__title {
            font-size: 1.2em;
            padding: .5em;
            background: $green;
            text-align: center;
        }

        &__subtitle {
            text-align: center;
            font-weight: 600;
        }

        label {
            margin-left: 2px;
            font-weight: 600;
        }

        input {
            margin: 1em .5em 2em 0;
            border: none;
            border-bottom: solid 2px $salmon;
            outline: none;
            width: 90%;

            &::placeholder {
                color: $darkSalmon;
                padding: 1em;
            }

            &:focus {
                border-radius: .20em;
                border: none;
                outline: solid 2px $salmon;
            }
        }

        .weddingButton {
            width: 7em;
            background: $darkGreen;
            padding: .5em 1em;
            border-radius: 3em;
            text-decoration: none;
            color: $white;
            font-weight: 600;
            cursor: pointer;
            transition: color 0.25s 0.0833333333s;
            transition: color 0.25s 0.0833333333s;
            position: relative;
            @include btn;

            &:hover {
                background: #fff;
                color: $darkSalmon;
            }

        }
    }


}