@import "../_partials/mixies"; 

.headerSchedule {
    @include nav;
}
.scheduleBar {
    background: #fff;
    box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.5);
    padding: 1em;
    margin-bottom: 2em;
}
.bar {
    text-align: center;
    &__link {
        text-decoration: none;
        color: $grey;
        &:hover {
            color: $darkGreen;
        }
    }
    &__img {
        padding: 1em;
        cursor: pointer;
    }
}

// Invitados container

.guests{
    margin: 3em 0;
    position: relative;
    .guestsHr{
        color: $darkGreen;
        height: 5px;
    }
}

.guestsIntro{
    
    &__img{
        img{
            width: 10em;
            margin: 2em 0;
        }
    }
    &__total{
        h3{
            font-size: 1.2em;
        }
        p{
            font-weight: 600;
            font-size: 1.2em;
            background: $salmon;
            color: $grey;
            padding: .5em 0;
            border-radius: .25em;
        }
    }
}


// boton de agregar invitados y grupos
.guestsAdd{
    margin: 3em 0;

    &__btn {
        
        margin: 1em 2em;
        background: $darkGreen;
        border-radius: 3em;
        text-decoration: none;
        color: $white;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        position: relative;
        @include btn;
        @include breakpoint(mobile) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: .2em .5em;
        }

        @include breakpoint(laptop) {
            display: inline-block;
            padding: .5em 1em;
        }

        @include breakpoint(desktop) {
            display: inline-block;
            padding: .5em 1em;
            
        }

        &:hover {
            background: #fff;
            color: $darkSalmon;
        }

    }
    hr{
        margin-top: 3em;
    }
}


//seleccionar todos y menu desplegable

.guestsAdd {
    &__form{
        input {
            margin: .3em;
        }
    }
    &__menu {
        margin-left: .5em;
    }
}

// texto que aparece cuando no hay invitados
.textNoGuestsCanceled,
.textNoGuestsSlopes,
.textNoGuestsConfirmed {
    padding: .5em 1em;
    background: $shadowGrey2;
}

// confirmados

.confirmed {
    h4{
        background: $green;
        padding: .5em 0;
        img {
            width: 1.5em;
            margin-right: .5em;

        }
    }
}
//pendientes

.slopes{
    h4{
        background: $yelow;
        padding: .5em 0;

        img {
            width: 1.5em;
            margin-right: .5em;

        }
    }
}

//cancelados

.canceled {
    h4 {
        background: $red;
        padding: .5em 0;

        img {
            width: 1.8em;
            margin-right: .5em;

        }
    }
}



//INVITADOS (carga de invitados por js) 

.personsGuests {
    margin: 2px;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    white-space: nowrap;
    @include breakpoint(mobile) {
        overflow-y: hidden;
        overflow-x: scroll;

    }

    @include breakpoint(laptop) {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    @include breakpoint(desktop) {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}
    
    td:nth-child(1) {
        width: 3em;
        padding-right: 20px;
        
    }
    td:nth-child(2) {
        width: 25em;
        padding-right: 20px;
    }

    td:nth-child(3) {
        width: 30em;
        padding-right: 20px;
    }

    td:nth-child(4) {
        width: 3em;
        padding-right: 20px;
        cursor: pointer;
    }

    td:nth-child(5) {
        width: 3em;
        padding:17px 20px 0 20px;
        cursor: pointer;
    }




///////////////////////////modal/////////////////////////////

.modalGuests{
    position: absolute;
    // top: 0;
    // left: 28%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid $grey;
    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)),
    url(../imagenes/fondoAcuarelaAzul.jpg);
    background-position: center;
    background-size: cover;
    // visibility: 0;
    // display: none;
    transition: all 0.25s 0.083;
    @include breakpoint(mobile) {
        width: 90%;
        height: 80vh;
        padding: 1em;
        
    }

    @include breakpoint(laptop) {
        width: 90%;
        height: 80vh;
        padding: 1em;
    }

    @include breakpoint(desktop) {
        width: 48vw;
        height: 80vh;
        padding: 2em;
    }

    &__title {
        padding: .5em;
        background: $green;
    }
    input{
        margin: 1em 1em 1em 0;
        border: none;
        border-bottom: solid 2px $salmon;
        outline:none;
        @include breakpoint(mobile) {
            width: 90%;
        }

        @include breakpoint(laptop) {
            width: 90%;
        }

        @include breakpoint(desktop) {
            width: 15em;
        }
        
        &::placeholder{
            color: $darkSalmon;
            padding: 1em;
        }
        &:focus{
            border-radius: .20em;
            border: none;
            outline: solid 2px $salmon;
        }
    }
    
    
    .modalGuestsSections {
        label {
            width: 5em;
            font-weight: 600;
            @include breakpoint(mobile) {
                margin: 1em;
                width: 3em;
            }

            @include breakpoint(laptop) {
                margin: 1em;
                width: 5em;
            }

            @include breakpoint(desktop) {
                width: 5em;
            }
        }

        &__select {
            color: $darkSalmon;
            padding: 0 1em;
            outline: none;
            border: solid 1px $salmon;
            @include breakpoint(mobile) {
                margin: .5em 0 0 .5em;
                width: 6em;
            }

            @include breakpoint(laptop) {
                margin: .5em 0 0 .5em;
                width: 6em;
            }

            @include breakpoint(desktop) {
                margin: 1em 0 0 1em;
                width: 10em;
            }
        }

    }
    .pais{
        width: 15em;
        margin-right: 1em;
        color: $darkSalmon;
        outline: none;
        border: solid 1px $salmon;
        @include breakpoint(mobile) {
            margin-top: .5em;
        }

        @include breakpoint(laptop) {
            margin-top: .5em;
        }

        @include breakpoint(desktop) {
            margin-top: 0;
        }
    }
    .modalGuestsBtn {
        width: 7em;
        background: $darkGreen;
        padding: .5em 1em;
        border-radius: 3em;
        text-decoration: none;
        color: $white;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        position: relative;
        @include btn;

        &:hover {
            background: #fff;
            color: $darkSalmon;
        }

    }
}
#errorLastname,
#errorName,
#errorTel,
#errorEmail,
#errorPostcard {
    font-size: .7em;
    display: inline-block;
    margin: .5em;
    color: $red;
}