@import "../_partials/mixies";
.contact {    
    padding: 1em;
    @include breakpoint(mobile) {
        background: $white;
    }

    @include breakpoint(laptop) {
        background: $white;
    }

    @include breakpoint(desktop) {
        background-image: url(../imagenes/fondoContacto.png);
        background-size: cover;
        background-position: left;
        object-fit: cover;
    }
}
.form {
    padding: 1em;    
    @include logo;
    &__logo {
        font-family: $fontLogo;
        font-size: 600;
        text-decoration: none;
        color: $grey;
    }
    > input , textarea {
        border: none;
        outline: none;
        border-radius: .20em;
        padding: .5em;
        margin-top: .5em;
        width: 100%;
        resize: none;
        &::placeholder {
            color:$salmon;
        }
    }
    &__btn {
        margin: 2em 0;
        .formButton {
            text-transform: uppercase;
            border: 1px solid transparent;
            background: $salmon;
            padding: .5em 3em;
            border-radius: 3em;
            color: $grey;
            font-weight: 600;
            cursor: pointer;
            transition: color 0.25s 0.0833333333s;
            transition: color 0.25s 0.0833333333s;
            position: relative;
            @include btn;

            &:hover {
                background: transparent;
                color: $white;
            }

        }
    }
}