.myWedding {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .7)),
        url(../imagenes/fondoAcuarelaAzul.jpg);
    background-size: cover;
}

.wedding {
    margin: 5em 0;

    &__title {
        margin: 1em 0;
        padding: 1.5em 0;
        background: $green;
        color: $white;
        font-weight: 400;
    }

    &__img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        padding: 1em;
        margin: .5em;
        border: 3px solid $darkGreen;
    }

    &__button {
        margin-top: 2em;

        .btn {
            background: $salmon;
            padding: .5em 1em;
            border-radius: 3em;
            text-decoration: none;
            color: $grey;
            cursor: pointer;
            transition: color 0.25s 0.0833333333s;
            transition: color 0.25s 0.0833333333s;
            position: relative;
            @include btn;

            &:hover {
                background: #fff;
                color: $darkSalmon;
            }

        }
    }
}