// media query
@mixin breakpoint($point) {
    @if $point==mobile {
        @media screen and (min-width: 320px) {
            @content;
        }
    }

    @else if $point==laptop {
        @media screen and (min-width: 768px) {
            @content;
        }
    }

    @else if $point==desktop {
        @media screen and (min-width: 994px) {
            @content;
        }
    }
}

// efecto botones

@mixin btn($z: 0) {

    &::before,
    &::after {
        border: 0 solid transparent;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
        z-index: $z;
    }

    &::before {
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-radius: 1.5em;
    }

    &::after {
        border-top-width: 2px;
        border-right-width: 2px;
        border-radius: 1.5em;
    }

    &:hover::before,
    &:hover::after {
        border-color: $salmon;
        transition: border-color 0s, width 0.25s, height 0.25s;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        transition-delay: 0s, 0s, 0.25s;
        transition-delay: 0s, 0s, 0.25s;
    }

    &:hover::after {
        transition-delay: 0s, 0.25s, 0s;
        transition-delay: 0s, 0.25s, 0s;
    }
}

@mixin logo {
    &__img {
        padding-right: .5em;

        @include breakpoint(mobile) {
            width: 2.5em;
            height: 2em;
        }

        @include breakpoint(laptop) {
            width: 3.5em;
            height: 3em;
        }

        @include breakpoint(desktop) {
            width: 3.5em;
            height: 3em;
        }
    }
}

// navegadores excepto el nav del index

@mixin nav {
    background: #484A47;

    @include breakpoint(mobile) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }

    @include breakpoint(laptop) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

    }

    @include breakpoint(desktop) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

    }


    &__img {
        padding-right: .5em;

        @include breakpoint(mobile) {
            width: 2.5em;
            height: 2em;
        }

        @include breakpoint(laptop) {
            width: 3.5em;
            height: 3em;
        }

        @include breakpoint(desktop) {
            width: 3.5em;
            height: 3em;
        }
    }

    &__textLogo {
        font-family: "Caveat", cursive;
        font-size: 600;
        text-decoration: none;
        color: #EDF6F9;
        cursor: pointer;

        @include breakpoint(mobile) {
            padding: 1em 0;
        }

        @include breakpoint(laptop) {
            padding: 0;
        }

        @include breakpoint(desktop) {
            padding: 0;
        }

        &:hover {
            color: #FEC5BB;

        }
    }

    &__ul {
        list-style: none;

        @include breakpoint(mobile) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 0;
            padding: 0;
        }

        @include breakpoint(laptop) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            margin: 1em;
        }

        @include breakpoint(desktop) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            margin: 1em;
        }
    }

    &__li {
        transition: all ease .5s;
        cursor: pointer;
        border: 1px solid transparent;
        -webkit-transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        position: relative;
        @include btn($z: 0);

        @include breakpoint(mobile) {
            line-height: 80px;
            padding: 0;
            margin: 0;
            width: 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: none;
        }

        @include breakpoint(laptop) {
            line-height: 2.5em;
            padding: .3em;
            margin: .5em;
            width: auto;
            display: block;
        }

        @include breakpoint(desktop) {
            line-height: 2.5em;
            padding: .3em;
            margin: .5em;
            width: auto;
            display: block;
        }

        >a {
            text-decoration: none;
            color: #EDF6F9;

            &:hover {
                color: #FEC5BB;
            }
        }

    }

    .activado {
        display: block;
    }

    #icon i {
        color: $salmon;
        font-size: 1.5em;
        line-height: 80px;
        cursor: pointer;

        @include breakpoint(mobile) {
            display: block;
            position: absolute;
            top: 10px;
            right: 25px;
        }

        @include breakpoint(laptop) {
            display: none;
        }

        @include breakpoint(desktop) {
            display: none;
        }
    }

}

@mixin hr {
    color: $darkGreen;
    height: 5px;
}

@mixin pAcconuntant {
    font-weight: 600;
    font-size: 1.2em;
    border: $salmon solid 3px;
    color: $grey;
    padding: .5em 0;
    border-radius: .25em;
}

@mixin table {
    margin: 2px;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    white-space: nowrap;

    @include breakpoint(mobile) {
        overflow-y: hidden;
        overflow-x: scroll !important;
    }

    @include breakpoint(laptop) {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    @include breakpoint(desktop) {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

//tarifa
@mixin radius($val) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    border-radius: $val;
}

@mixin cardsOpen() {
    &::before {
        background: #83c5bf71;
    }

    .book-container {
        .content {
            opacity: 1;

            transform: translateY(0px);
        }
    }

    .informations-container {
        transform: translateY(0px);

        .more-information {
            opacity: 1;
        }
    }
}