.myWedding {
    background-image:linear-gradient(rgba(0, 0,0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../imagenes/backMarron.jpg);
    background-size: cover;
}
.wedding {
    margin: 2em 0;
    &__title {
        margin: 1em 0;
        padding: 1.5em 0;
        background: $green;
        color: $white;
        font-weight: 400;
    }
    &__img{
        width: 300px;
        height: 200px;
        object-fit: cover;
        padding: 1em;
        margin: .5em;
        border: 3px solid $darkGreen;
    }
}