.header {
    width: 100%;
    padding: 0;

    @include breakpoint(mobile) {
        height: 10vh;
    }

    @include breakpoint(laptop) {
        height: 90vh;
    }

    @include breakpoint(desktop) {
        height: 90vh;
    }

    .video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -10;
        visibility: visible;

        @include breakpoint(mobile) {
            display: none;
        }

        @include breakpoint(laptop) {
            display: block;
        }

        @include breakpoint(desktop) {
            display: block;
        }
    }
}



.nav {
    padding: 1em;

    @include breakpoint(mobile) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        background: #484A47;
        width: 100%;
        text-align: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }

    @include breakpoint(laptop) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        background: transparent;

    }

    @include breakpoint(desktop) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        background: transparent;

    }


    &__img {
        padding-right: .5em;

        @include breakpoint(mobile) {
            width: 2.5em;
            height: 2em;
        }

        @include breakpoint(laptop) {
            width: 3.5em;
            height: 3em;
        }

        @include breakpoint(desktop) {
            width: 3.5em;
            height: 3em;
        }
    }

    &__textLogo {
        font-family: "Caveat", cursive;
        font-size: 600;
        text-decoration: none;
        color: #EDF6F9;
        cursor: pointer;

        @include breakpoint(mobile) {
            padding: 1em 0;
        }

        @include breakpoint(laptop) {
            padding: 0;
        }

        @include breakpoint(desktop) {
            padding: 0;
        }

        &:hover {
            color: #FEC5BB;
        }
    }

    &__ul {
        list-style: none;

        @include breakpoint(mobile) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 0;
            padding: 0;
        }

        @include breakpoint(laptop) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            margin: 1em;
        }

        @include breakpoint(desktop) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            margin: 1em;
        }
    }

    &__li {
        cursor: pointer;
        border: 1px solid transparent;
        -webkit-transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        transition: color 0.25s 0.0833333333s;
        position: relative;
        @include btn($z: -1);

        @include breakpoint(mobile) {
            line-height: 80px;
            padding: 0;
            margin: 0;
            width: 100%;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: none;
        }

        @include breakpoint(laptop) {
            line-height: 2em;
            padding: .3em;
            margin: .5em;
            width: auto;
            display: block;
        }

        @include breakpoint(desktop) {
            line-height: 2em;
            padding: .3em;
            margin: .5em;
            width: auto;
            display: block;
        }

        >a {
            text-decoration: none;
            color: #EDF6F9;

            &:hover {
                color: #FEC5BB;
            }
        }

    }

    .activado {
        display: block;
    }

    #icon i {
        color: $salmon;
        font-size: 1.5em;
        line-height: 80px;
        cursor: pointer;

        @include breakpoint(mobile) {
            display: block;
            position: absolute;
            top: 10px;
            right: 25px;
        }

        @include breakpoint(laptop) {
            display: none;
        }

        @include breakpoint(desktop) {
            display: none;
        }
    }
}
