@import "../_partials/mixies";
.offers {
    background-image: url(../imagenes/offers2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 5em 0;
    box-shadow: -1px 14px 58px -17px rgba(0, 0, 0, 0.75);box-shadow: -1px 14px 58px -17px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 14px 58px -17px rgba(0, 0, 0, 0.75);
    &__intro{
        padding: 1em;
    }
    .exp{
        color: $grey;
        @include breakpoint(mobile) {
            background: linear-gradient(rgba(141, 27, 7, 0.2),rgba(254, 197, 187, 0.7) );
        }
        @include breakpoint(laptop) {
            background: linear-gradient(rgba(141, 27, 7, 0.2), rgba(254, 197, 187, 0.7));
        }
        @include breakpoint(desktop) {
            background: transparent;
        }
        &__title {
            font-weight: 400;
            padding: 1em .5em;
        }
        &__subtitle {
            font-weight: 300;
            padding: 0 .5em 1em .5em;
        }
        &__text {
            padding: 0 .5em 1em .5em;
        }
    }
}