@import "../_partials/mixies";
.details {
    margin: 5em 0;
    &__services {
        margin: 1em 0;
        padding: 1.5em;
        background: $green;
        color: $white;
        font-weight: 400;
    }
    &__web {
        padding: 2em;
    }
    &__img{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        padding: 1em;
        border: 1px solid $darkSalmon;
    }
    &__subtitle{
        font-weight: 400;
        padding: 1.5em 0 .5em 0;
        text-decoration: underline $darkSalmon;
        text-underline-position: under;
    }
    &__p {
        line-height: 1.8em;
    }
    &__button {                
        .btn {
            background: $salmon;
            padding: .5em .8em;
            border-radius: 3em;
            text-decoration: none;
            color: $grey;
            cursor: pointer;
            transition: color 0.25s 0.0833333333s;
            transition: color 0.25s 0.0833333333s;
            position: relative;
            @include btn;
            &:hover{
                background: #fff;
                color: $darkSalmon;
            }
            
        }
    }
}