$salmon: #FEC5BB;
$green: #83C5BE;
$white: #EDF6F9;
$darkGreen: #006D77;
$darkSalmon: #E29578;
$grey: #484A47;
$greyGreen: #d8e2dc;
$shadowGrey: rgba(0, 0, 0, 0.5);
$shadowGrey2: rgba(0, 0, 0, 0.08);

$fontLogo: 'Caveat',cursive;
$fontTotal: 'Poppins',sans-serif;
